.container-cast > .img-cast {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 0 auto 1rem auto;
}
.container-cast {
  height: 250px;
  text-align: center;
  .h2 {
    width: 180px;
    margin: 0 auto;
  }
}
.container-slider-cast {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  margin-top: 6rem;

  @media (min-width: 750px) {
    width: 70%;
  }
  .slick-prev,
  .slick-next {
    z-index: 1;
    width: 50px;
    height: 40px;
  }
}
.arrow-next {
  position: absolute;
  top: -10px;
  bottom: 0;
  right: -10px;
  width: 100px;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#272727+0,272727+100&0+0,0.2+13,0.4+26,0.6+41,0.8+59,0.9+77,1+97 */
  background: -moz-linear-gradient(
    left,
    rgba(39, 39, 39, 0) 0%,
    rgba(39, 39, 39, 0.2) 13%,
    rgba(39, 39, 39, 0.4) 26%,
    rgba(39, 39, 39, 0.6) 41%,
    rgba(39, 39, 39, 0.8) 59%,
    rgba(39, 39, 39, 0.9) 77%,
    rgba(39, 39, 39, 1) 97%,
    rgba(39, 39, 39, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    rgba(39, 39, 39, 0) 0%,
    rgba(39, 39, 39, 0.2) 13%,
    rgba(39, 39, 39, 0.4) 26%,
    rgba(39, 39, 39, 0.6) 41%,
    rgba(39, 39, 39, 0.8) 59%,
    rgba(39, 39, 39, 0.9) 77%,
    rgba(39, 39, 39, 1) 97%,
    rgba(39, 39, 39, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgba(39, 39, 39, 0) 0%,
    rgba(39, 39, 39, 0.2) 13%,
    rgba(39, 39, 39, 0.4) 26%,
    rgba(39, 39, 39, 0.6) 41%,
    rgba(39, 39, 39, 0.8) 59%,
    rgba(39, 39, 39, 0.9) 77%,
    rgba(39, 39, 39, 1) 97%,
    rgba(39, 39, 39, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00272727', endColorstr='#272727',GradientType=1 ); /* IE6-9 */

  @media (min-width: 450px) {
    width: 200px;
  }
}
.arrow-back {
  z-index: 1;
  position: absolute;
  top: -10px;
  bottom: 0;
  left: -5px;
  width: 100px;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#272727+0,272727+100&1+3,0.9+23,0.8+41,0.6+59,0.4+74,0.2+87,0+100 */
  background: -moz-linear-gradient(
    left,
    rgba(39, 39, 39, 1) 0%,
    rgba(39, 39, 39, 1) 3%,
    rgba(39, 39, 39, 0.9) 23%,
    rgba(39, 39, 39, 0.8) 41%,
    rgba(39, 39, 39, 0.6) 59%,
    rgba(39, 39, 39, 0.4) 74%,
    rgba(39, 39, 39, 0.2) 87%,
    rgba(39, 39, 39, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    rgba(39, 39, 39, 1) 0%,
    rgba(39, 39, 39, 1) 3%,
    rgba(39, 39, 39, 0.9) 23%,
    rgba(39, 39, 39, 0.8) 41%,
    rgba(39, 39, 39, 0.6) 59%,
    rgba(39, 39, 39, 0.4) 74%,
    rgba(39, 39, 39, 0.2) 87%,
    rgba(39, 39, 39, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgba(39, 39, 39, 1) 0%,
    rgba(39, 39, 39, 1) 3%,
    rgba(39, 39, 39, 0.9) 23%,
    rgba(39, 39, 39, 0.8) 41%,
    rgba(39, 39, 39, 0.6) 59%,
    rgba(39, 39, 39, 0.4) 74%,
    rgba(39, 39, 39, 0.2) 87%,
    rgba(39, 39, 39, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#00272727',GradientType=1 ); /* IE6-9 */

  @media (min-width: 450px) {
    width: 200px;
  }
}
