/*Main*/

.main-container {
  margin: 0 auto;
  max-width: 85%;
  @media (min-width: 450px) {
    max-width: 80%;
  }
}

/*newFilms*/
.container-slider-films {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
  margin-top: 6rem;

  .slick-prev,
  .slick-next {
    z-index: 1;
    width: 50px;
    height: 40px;
  }
}
.arrows {
  z-index: 1;
  position: absolute;
  top: -5px;
  bottom: 0;
  width: 50px;
  @media (min-width: 450px) {
    width: 50px;
  }
}

.full-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;

  figure {
    position: relative;
    overflow: hidden;
  }

  img {
    transition: all 500ms ease-out;
    width: 100%;
  }
}

figure .layer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 4, 7, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-out;
  text-align: center;
}

.full-container figure:hover > .layer {
  opacity: 1;
  visibility: visible;
}

.full-container figure:hover > .layer p {
  opacity: 1;
  margin-top: 35px;
  margin-bottom: 15px;
  font-size: 22px;
  visibility: visible;

  @media (max-width: 450px) {
    font-size: 13px;
  }
}

.full-container figure > .layer > div {
  opacity: 1;
  margin-top: 30%;
  margin-bottom: 5px;
  font-size: 9px;
  visibility: visible;
  transition: all 500ms ease-out;
}
.full-container figure:hover > .layer > div {
  opacity: 1;
  margin-top: 30%;
  margin-bottom: 20px;
  font-size: 18px;
  visibility: visible;
}

.full-container figure .layer p {
  color: #fff;
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 18px;
  transition: all 500ms ease-out;
}

.full-container figure:hover > img {
  transform: scale(1.1);
}

/*Genres*/

/*botón Allgenres*/
span.MuiButton-label {
  font-size: 15px;
  color: #fff;
}

.row-container {
  .row-title {
    margin: 0 0 20px;
  }
}

.container-slider-genres {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;

  .slick-prev,
  .slick-next {
    z-index: 1;
    width: 60px;
    height: 40px;
  }
}
.arrows {
  z-index: 1;
  position: absolute;
  top: -5px;
  bottom: 0;
}
.arrow-1 {
  left: 15px;
}

.arrow-2 {
  right: 25px;
}

/*GenreType*/
.type-container {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 22px 0px;
}
.centerGender {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

.image-genres {
  width: 190px;
  height: 300px;
  margin: 0 auto 0;
  filter: brightness(0.5);
  box-shadow: -5px -5px 30px -4px $purple, 5px 5px 30px -4px $blue;

  &:hover {
    filter: brightness(0.8);
  }
}

/*circulitos de librería react slick*/
.container .slick-dots {
  position: relative;
  display: inline-block;
  cursor: pointer;
  button::before {
    font-size: 15px;
    margin-top: 15px;
  }
}
.container-genres {
  @media (min-width: 450px) {
    margin: 0 auto;
    max-width: 1400px;
    width: 60%;
  }
}
