.filmdetails--main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    margin-top: 20px;

    .filmdetails--title{
        color: white;
        font-size: 50px;
        margin-left: -10px;
        padding: 10px 0px;
        font-weight: bolder;
    }
}


.filmdetails--stars{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 300px;

    .star, .star-point{
        cursor: pointer;
        background-color: transparent;
        text-shadow: 0 0 2px grey;
        border: 1px grey;
        outline: none;
        color: white;
        font-size: 30px;
        transition-duration: 0.5s;
        font-weight: bolder;

        &:hover {
            color: yellow;
          }
    }

    .star-point{
        color: yellow;
    }
}

.filmdetails--show-or-not{
    width: 20%;

    .filmdetails--check{
        cursor: pointer;
        background-color: transparent;
        border: 0px;
        outline: none;
        height: 30px;
    }

    .filmdetails--bar, .filmdetails--bar-checked{
        position: relative;
        width: 100px;
        height: 40px;
        background-color: rgb(185, 178, 178);
        border-radius: 30px;
        box-shadow: 0 0 4px inset grey;

        &::before{
            content:'';
            position: absolute;
            top: -5px;
            height: 50px;
            width: 50px;
            border-radius: 30px;
            box-shadow: 0 0 4px rgb(197, 193, 193);
        }
    }

    .filmdetails--bar{
        &::before{
            box-shadow: 0 0 4px inset white;
            animation: unCheck 1s;
            animation-fill-mode: forwards;
        }
    }

    .filmdetails--bar-checked{
        &::before{
            animation: check 1s;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes check {
    from{
        left: 0px;
        background-color: rgb(212, 207, 207);
    }
    to{
        left: 50px;
        background-color: rgb(243, 243, 172);
    }
}

@keyframes unCheck {
    from{
        left:50px;
        background-color: rgb(243, 243, 172);
    }
    to{
        left: 0px;
        background-color: rgb(212, 207, 207);
    }
}

.filmdetails--section{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.541);
    box-shadow: 0 0 5px grey, 0 0 4px inset white;
    margin: 20px;
    padding: 20px 10px;
    width: 70%;

    @media (max-width:760px){
        width: 90%;
    }
}

.filmdetails--valorations{
    justify-content: space-around;
}

.filmdetails--frame-photo{
    width: 500px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;

    @media (max-width:580px) {
        width:250px;
        height:250px;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.filmdetails--description, .filmdetails--cast{
    margin: 20px;
}

.filmdetails--cast{
    display: flex;
    flex-direction: row;
    gap: 20px;

    .castcomponent--container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 200px;
        height: 250px;
        border-radius: 20px;
        background-color: rgba(206, 199, 199, 0.603);
        box-shadow: 0 0 4px inset white, 0 0 5px rgba(206, 198, 198, 0.445);
    
        .castcomponent--frame-photo{
            border-radius: 50%;
            overflow: hidden;
            margin: 30px;
            width: 100px;
            height: 100px;
        
            img{
                width: 100%;
                height: 100%;
                margin: auto;
            }
        }
    
    }
}

.filmdetails--presentation{
    display: flex;
    flex-direction: column;
    
}