.container-header {
  display: flex;
  justify-content: space-between;
  min-height: 4rem;
  align-items: center;
  color: white;
  width: 95%;
  margin: 0 auto;
  max-width: 1600px;

  .logo {
    font-size: 1.5rem;
    cursor: pointer;
  }

  .fa-times,
  .fa-bars {
    height: 2rem;
    width: 1.5rem;
    cursor: pointer;
  }
  @media (min-width: 550px) {
    .container-header {
      width: 80%;
    }
    .faBars {
      flex-basis: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
.nav {
  position: absolute;
  width: 100%;
  top: 3rem;
  left: 0;
  background-color: #272727;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 22px 32px -10px #272727;

  @media (min-width: 450px) {
    box-shadow: unset;
    background-color: unset;
  }
  .views-nav {
    padding: 1rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
  }

  @media (min-width: 550px) {
    position: unset;
    flex-direction: row;
    justify-content: space-around;
    .views-nav {
      text-align: center;
      width: max-content;
      padding: 0.5rem;
    }
  }
  .MuiButton-textPrimary {
    color: #ffffff;
  }
}
.MuiPopover-paper.MuiPopover-paper ul {
  display: flex;
  flex-direction: column;

  li {
    padding: 0.4rem;
  }
}

.container-nav {
  position: absolute;
  top: 4rem;
  right: 0px;
  left: 0px;
  width: 100vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  // background-color: #272727;
}

.search {
  background-color: #eeeeee;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border: unset;
  min-width: 11rem;
  max-width: 90%;
  margin: 0 auto;

  flex-basis: 40%;
  cursor: text;

  .search::after,
  .search::before {
    border: unset;
  }
  .MuiInputBase-root:before,
  .MuiInputBase-root:after {
    content: unset;
    border: unset;
  }
}
