/*AllGenres*/

.containerGenres {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  @media (min-width: 450px) {
    justify-content: space-between;
  }
  .type-container {
    margin: 1rem;
  }
  .centerGender {
    font-size: 25px;
  }
  .image-genres:hover {
    -webkit-filter: brightness(1);
    filter: brightness(1);
    box-shadow: -5px 0 15px $purple, 5px 0 15px $blue;
  }
}
/**/
