/*AllGenres*/

.containerGenres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: inherit;
  justify-content: space-around;

  .centerGender {
    font-size: 25px;
  }
  .image-genres:hover {
    filter: brightness(1);
    box-shadow: -5px 0 15px $purple, 5px 0 15px $blue;
  }
}
