.news {
  position: relative;
  height: 17rem;
  padding: 2rem;
  @media (min-width: 800px) {
    padding: 1rem 5rem;
    height: 30rem;
  }
  @media (min-width: 1200px) {
    padding: 1rem 10rem;
    height: 30rem;
  }

  .container-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
  .img-news {
    z-index: -100;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .shadow {
    content: "";
    z-index: -90;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.74);
  }

  .logo-news {
    height: 2.5rem;
  }
  .date-news {
    text-align: end;
    font-weight: bold;
  }

  .sumary-news {
    display: none;
    @media (min-width: 800px) {
      display: block;
    }
  }
}

.container-news {
  margin: 4rem auto;
  max-width: 100%;
  width: 85%;
  height: 100%;
  box-shadow: -5px -5px 30px 5px $purple, 5px 5px 30px 5px $blue;
  @media (min-width: 1200px) {
    max-width: 90%;
  }
  .slick-dots {
    position: absolute;
  }
}
a {
  text-decoration: none;
  color: #fff;
}
