@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import "./scss/globals.scss";
@import "./components/Main/main.scss";
@import "./components/header/header";
@import "./components/Details/Details";
@import "./components/Divisor/divisor";
@import "./views/listSearch/listSearch.scss";
@import "./components/ListGenres/listGenres.scss";
@import "./components/cast/cast.scss";
@import "./components/news/news.scss";
@import "./components/AllGenres//AllGenres.scss";
@import "./components/Error404/error404.scss";
