* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  position: relative;

  background-color: #272727;
  color: #fff;
}

body .error {
  background-color: #000306;
}

.background-color {
  position: relative;
}
.background-color::before {
  content: "";
  position: absolute;
  margin: 0 auto;
  min-height: 100%;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: -100;
  background: linear-gradient(
    90deg,
    rgb(255 0 245 / 57%) 0%,
    rgb(0 128 255 / 50%) 100%
  );
  -webkit-filter: blur(122px);
  filter: blur(122px);
}

p {
  color: #fff;
  font-size: 16px;
}
h1,
h3 {
  color: #fff;
  font-size: 24px;
}
@media (min-width: 450px) {
  p {
    font-size: 18px;
  }
  h1,
  h3 {
    font-size: 32px;
  }
}
.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1400px;
  @media (min-width: 750px) {
    width: 60%;
  }
}

//  variables
$background-color: #272727;
$blue: #027df5;
$purple: #c206bb;
